.poster {
    width: 250px;
    height: 340px;
    border-radius: 10px;
    filter: grayscale(100%);
    margin-bottom: 12px;
    transition: linear 0.3s;
}

.poster:hover {
    filter: grayscale(0%);
}