.Movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.Movie img {
    width: 500px;
    height: 750px;
    margin-right: 40px;
    border-radius: 15px;
}

